                            <div class="ias ias__row ias__posts">
                                <div class="thumbs thumbs-style-one cols flex-container ias__post" data-flex-cols="4">
                                    <div class="thumb col">
                                        <div class="thumb__link" href="">
                                            <div class="thumb__img" style="background-image:url('http://placehold.it/250x130')">
                                                <a href="" class="btn btn--style-one btn--style-dashboard btn-play">
                                                    <i class="icon flat-icon flaticon-play"></i>
                                                </a>
                                                <span class="duration">00:30</span>
                                            </div>
                                            <div class="thumb__info">
                                                <a href="" class="thumb__title flex-container">
                                                    <span>Thumb title maskdmsakd dmaskdmaskd daskdmaskdmsad dsamkdmas</span>
                                                </a>
                                                <div class="thumb__info__footer">
                                                    <span class="thumb__info__brand">by Buavita.co.id</span>
                                                    <span class="thumb__info__total-played text-orange">0 played</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="pagination">
                                <a href="/home-ajax-test.html" class="next">next</a>
                            </div>
